<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <style>
body {
  padding-top: 70px;
  padding-bottom: 50px;
}
footer {
  padding: 10px;
  border-top: solid 1px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
    </style>
    <title>[% output.title %]</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">[% output.title %]</a>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
[% FOR item IN output.menu -%]
          <li class="nav-item"><a class="nav-link" href="[% item.link %]">[% item.title %]</a></li>
[% END -%]
[% IF author.cpan -%]
          <li class="nav-item"><a class="nav-link" href="https://metacpan.org/author/[% author.cpan %]">MetaCPAN ([% author.cpan %])</a></li>
[% END;
   IF author.github -%]
          <li class="nav-item"><a class="nav-link" href="https://github.com/[% author.github %]/">Github ([% author.github %])</a></li>
[% END -%]
        </ul>
      </div>
    </nav>

    <div class="container" role="main">
    <h1>[% output.title %]</h1>
    <p>A dashboard to see the state of my
      <a href="https://metacpan.org/author/[% author.cpan %]">CPAN modules</a>.</p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>MetaCPAN</th>
          <th>Github</th>
[% IF ci.use_gh_actions -%]
          <th>GH Actions</th>
[% END -%]
[% IF ci.use_travis -%]
          <th>Travis CI</th>
[% END -%]
[% IF ci.use_coveralls -%]
          <th>Coveralls</th>
[% END -%]
[% IF ci.use_kritika -%]
          <th>Kritika</th>
[% END -%]
        </tr>
      </thead>
      <tbody>
[% FOREACH m IN modules -%]
        <tr>
          <td>[% m.dist %]</td>
          <td><a href="https://metacpan.org/release/[% m.dist %]"><img alt="CPAN version for [% m.dist %]" src="https://img.shields.io/cpan/v/[% m.dist %].svg"></a></td>
          <td><a href="[% m.repo %]"><span class="fa fa-list" aria-hidden="true"></span></a></td>
[%   IF ci.use_gh_actions -%]
          <td><a href="[% m.repo %]/actions?query=workflow%3A[% ci.gh_workflow_name %]"><img alt="GH Action [% ci.gh_workflow_name %]" src="[% m.repo %]/workflows/[% ci.gh_workflow_name %]/badge.svg"></a></td>
[%   END -%]
[%   IF ci.use_travis -%]
          <td><a href="https://travis-ci.org/[% m.repo_owner %]/[% m.repo_name %]?branch=master"><img alt="Build status for [% m.dist %]" src="https://travis-ci.org/[% m.repo_owner %]/[% m.repo_name %].svg?branch=master" /></a></td>
[%   END -%]
[%   IF ci.use_coveralls -%]
          <td><a href='https://coveralls.io/github/[% author.github %]/[% m.repo_name %]?branch=master'><img alt="Test coverage for [% m.dist %]" src='https://coveralls.io/repos/[% author.github %]/[% m.repo_name %]/badge.svg?branch=master&service=github' /></a></td>
[%   END -%]
[%   IF ci.use_kritika -%]
          <td><a href="https://kritika.io/users/[% author.github %]/repos/[% m.repo_owner %]+[% m.repo_name %]/"><img alt="Kritika grade for [% m.dist %]" src="https://kritika.io/users/[% author.github %]/repos/[% m.repo_owner %]+[% m.repo_name %]/heads/master/status.svg"></a></td>
[%   END -%]
        </tr>
[% END -%]
      </tbody>
    </table>
    </div>
    <footer>
CPAN dashboard written by <a href="https://twitter.com/davorg">@davorg</a> / Code on <a href="https://github.com/davorg/dashboard">Github</a>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
[% IF output.analytics -%]
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

	__gaTracker('create', '[% output.analytics %]', 'auto');
	__gaTracker('set', 'forceSSL', true);
	__gaTracker('send','pageview');

</script>
[% END -%]
  </body>
</html>
