<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <style>
body {
  padding-top: 70px;
  padding-bottom: 50px;
}
footer {
  padding: 10px;
  border-top: solid 1px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
    </style>
    <title>CPAN Dashboard</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">CPAN Dashboard</a>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <div class="container" role="main">
    <h1>CPAN Dashboard</h1>
    <p>A dashboard to see the state of various people's
      <a href="https://metacpan.org/">CPAN</a> modules.</p>

    <h2>Current authors</h2>
    <ul>
[% FOR author IN authors.sort -%]
      <li><a href="/[% author %]/">[% author %]</a></li>
[% END -%]
    </ul>
    </div>
    <footer>
CPAN dashboard written by <a href="https://twitter.com/davorg">@davorg</a> / Code on <a href="https://github.com/davorg/dashboard">Github</a>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
[% IF output.analytics -%]
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

	__gaTracker('create', '[% output.analytics %]', 'auto');
	__gaTracker('set', 'forceSSL', true);
	__gaTracker('send','pageview');

</script>
[% END -%]
  </body>
</html>
