body {
  padding-top: 70px;
  padding-bottom: 50px;
}
footer {
  padding: 10px;
  border-top: solid 1px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
img.header {
  max-width: 100%;
  min-width: 100%;
  max-height: 15%;
  object-fit: cover;
}

.warn {
  color: red;
}

img.gravatar {
  width: 130px;
  height: 130px;
  object-fit: scale-down;
}

.author.card {
  max-width: 130px;
  min-width: 130px;
  width: 130px;
}

.card-deck {
  margin-bottom: 1rem;
}
