[% META no_wrapper = 1 -%]
[% USE Date -%]
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
[% FOR url IN urls -%]
  <url>
    <loc>[% url %]</loc>
   <lastmod>[% Date.format(Date.now, '%Y-%m-%d') %]</lastmod>
  </url>
[% END -%]
</urlset>
